<app-header></app-header>
<div class="pt-5"></div> <!-- Separador perque el header esta fix top -->
<div class="container-fluid row">
    <div class="col-4">
        <div>
            <h4>Dani Salcedo Chanza</h4>
            <p>
                C/La Creu 16 1ºB<br>
                25135 Albesa Lleida<br>
                salcedochanza@gmail.com<br>
                685809699<br>
            </p>
        </div>
        <hr>
        <div>
            <h4>Formacio academica</h4>

            <div>
                <p>
                    Estudi Secundari<br>
                    Centre: IES Torrevicens<br>
                    Any titulació: 2014<br>
                </p>
            </div>
            <div>
                <p>
                    CF GM Video Disc Jockey i So<br>
                    Centre: IES Caparrella<br>
                    Any titulació: 2016<br>
                </p>
            </div>
            <div>
                <p>
                    CF GM Sistemes Microinformatics i Xarxes<br>
                    Centre: IES Caparrella<br>
                    Any titulació: 2018<br>
                </p>
            </div>
            <div>
                <p>
                    CF GS Administració de Sistemes Informàtics i Xarxes<br>
                    Centre: IES Caparrella<br>
                    Any titulació: 2020<br>
                </p>
            </div>
            <div>
                <p>
                    CF GS Desenvolupament d’Aplicacions Web<br>
                    Centre: IES Caparrella<br>
                    Any titulació: En Proces<br>
                </p>
            </div>

        </div>
    </div>
    <hr>



    <div class="col-4">
        <h4>Experiencia profesional</h4>
        <div class="accordion" id="accordionExample">

            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Emun FM
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body">
                        <strong>Emun FM</strong>
                        Tecnic de So<br>
                        Abril 2015 - Juny 2015<br>
                        Tasques desenvolupades i èxits assolits:<br>
                        <ul>
                            <li>Control de programa en directe</li>
                            <li>Realització de falques publicitàries</li>
                            <li>Edició de veu</li>
                            <li>Control de taula</li>
                            <li>Supervisor de conexions</li>
                            <li>Muntatge d'aparells</li>
                        </ul>
                        Raó finalització del contracte: Finalització de contracte en pràctiques.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Vunkers
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <strong>Vunkers</strong>
                        Tecnic informatic<br>
                        Novembre 2017 - Abril 2018<br>
                        Tasques desenvolupades i èxits assolits:
                        <ul>
                            <li>Manteniment d'equips</li>
                            <li>Instal·lació sistemes operatius</li>
                            <li>Instal·lació programari ofimatic</li>
                            <li>Instal·lació programari especific</li>
                            <li>Solució d'incidències remotament</li>
                            <li>Configuració correus</li>
                            <li>Instal·lació i configuració servidors</li>
                            <li>Muntatge de cablejat</li>
                        </ul>
                        Raó finalització del contracte: Finalització de contracte en pràctiques.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Vunkers
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <strong>Vunkers</strong>
                        Tecnic sistemes<br>
                        Abril 2018 - Juliol 2018<br>
                        Tasques desenvolupades i èxits assolits:
                        <ul>
                            <li>Manteniment d'equips</li>
                            <li>Instal·lació sistemes operatius</li>
                            <li>Instal·lació programari ofimatic</li>
                            <li>Instal·lació programari especific</li>
                            <li>Solució d'incidències remotament</li>
                            <li>Configuració correus</li>
                            <li>Instal·lació i configuració servidors</li>
                            <li>Muntatge de cablejat</li>
                        </ul>
                        Raó finalització del contracte: Finalització de contracte.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            ICS Online
                        </button>
                    </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        <strong>Ics Online</strong>

                        Administrador de sistemes<br>
                        Juny 2019 - Desembre 2019<br>
                        Tasques desenvolupades i èxits assolits:
                        <ul>
                            <li>Manteniment d'equips</li>
                            <li>Instal·lació sistemes operatius</li>
                            <li>Instal·lació programari ofimatic</li>
                            <li>Instal·lació programari especific</li>
                            <li>Solució d'incidències remotament</li>
                            <li>Configuració correus</li>
                            <li>Instal·lació i configuració servidors</li>
                            <li>Administració de servidors</li>
                            <li>Manteniment de servidors</li>
                            <li>Muntatge de cablejat</li>
                        </ul>
                        Raó finalització del contracte: Finalització de contracte.
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div>
            <h4>Coneixements Informatics</h4>
            <p>
                Experiencia en la edició de imatge i so, amb programari Adobe i altres programaris.<br>
                Nivell usuari alt en programari Office.<br>
                Nivell usuari avançat en sistemes operatius Windows desde Windows 7 fins actuals.<br>
                Usuari alt en sistemes de servidor Windows i Linux.<br>
                Nivell usuari alt en sistemes operatius Linux, especificament Ubuntu.<br>
                Usuari alt en la programació web, utilitzant un codi base i softwares de creacio de pagines web com Wordpress, Drupal i altres.<br>
                Coneixements en en llenguatges de programació: HTML, CSS, C++, SQL, PHP, Javascript, Angular.<br>
            </p>
        </div>
    </div>

    <div class="col-4">
        <h4>Taula d'idiomes</h4>
        <table class="table">
            <tr>
                <th>Idioma</th>
                <th>Parlat</th>
                <th>Escrit</th>
                <th>Entes</th>
                <th>Materna</th>
            </tr>
            <tr>
                <td>Catala</td>
                <td>Molt alt</td>
                <td>Molt alt</td>
                <td>Molt alt</td>
                <td>Si</td>
            </tr>
            <tr>
                <td>Castella</td>
                <td>Molt alt</td>
                <td>Molt alt</td>
                <td>Molt alt</td>
                <td>Si</td>
            </tr>
            <tr>
                <td>Angles</td>
                <td>Alt</td>
                <td>Alt</td>
                <td>Alt</td>
                <td>No</td>
            </tr>
        </table>

        <hr>

        <div>
            <h4>Capacitats i habilitats adquirides</h4>
            <p>
                Alta capacitat de treball en el sector de sistemes, bona capacitat en el sector de la programació, alt rendiment en el treball, capacitat de realització de treballs a llarga durada.
            </p>
        </div>

        <hr>

        <div>
            <h4>Altres</h4>
            <p>
                Soc una persona amable, tranquila, capas de transmetre una bona energia en el lloc de treball, facilitat d’adaptació a entorns nous i desconeguts, bona experiència en el tracte amb clients. Molt compromís en el meu treball i fidelitat a la empresa en la que em trobi.<br>
                4t posició en el campionat CatSkills 2018 en l'especialitat de suport de Xarxes, a nivell de Catalunya.

            </p>
        </div>
    </div>

</div>