
    <div class="form-group">
      <label for="Title">Title</label>
      <input type="text" class="form-control" id="Title" aria-describedby="emailHelp" [(ngModel)]="exerciceDetails.title">
      <small id="emailHelp" class="form-text text-muted">Titul descriptiu de la practica</small>
    </div>
    <div class="form-group">
        <label for="Enunciat">Enunciat</label>
        <input type="text" class="form-control" id="Enunciat" [(ngModel)]="exerciceDetails.enunciat">
        <small id="enunciatHelp" class="form-text text-muted">Enunciat de la practica</small>
    </div>
    <div class="form-group">
        <label for="Modul">Modul</label>
        <input type="text" class="form-control" id="Modul" [(ngModel)]="exerciceDetails.modul">
        <small id="modulHelp" class="form-text text-muted">Modul pertanyent de la practica</small>
    </div>
    

<button type="button" class="btn btn-primary" (click)="createExercice()" [routerLink]="['/list']">Crea</button>
<button type="button" class="btn btn-primary" [routerLink]="['/list']">Torna Enrere</button>